@font-face {
  font-family: "Tiny5";
  src:
    url("fonts/Tiny5-Regular.woff2") format("woff2"),
    url("fonts/Tiny5-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  background: none;
  font-family: "Tiny5";
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background-color: #555b6e;
}

h1 {
  font-size: 3rem;
}

.reset,
.info,
h2 {
  font-size: 2rem;
}

.info{
  padding: 10px;
}

button {
  margin-top: 15px;
  padding: 8px;
  transition: transform 0.3s;
  background-color: #b1a7a6;
  box-shadow: 0px 0px 4px grey;
}

button:hover {
  cursor: pointer;
  background-color: #c5c3c6;
  transition: transform 0.3s;
  transform: translate(2px, 2px);
}

button:focus {
  background-color: #555b6e;
}

.cell:hover {
  opacity: 0.8;
  transform: scale(1.1);
  cursor: crosshair;
}

.player-name {
  display: flex;
  justify-self: center;
  padding: 10px;
}

.container {
  padding: 25px;
  display: flex;
  gap: 50px;
  position: relative;
}

.cell {
  min-width: 35px;
  min-height: 35px;
  border-radius: 50%;
  margin: 2px;
  background-color: #b1a7a6;
}

.main-graph-container{
  display: flex;
  gap: 20px;
}

.graphs {
  display: flex;
  gap: 35px;
  padding: 25px;
}

.graph-container {
  background-color: #2b2d42;
  justify-self: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 120px;
  max-width: 120px;
  gap: 12px;
  border-radius: 50%;
}

.graph-title {
  color: #b1a7a6;
  align-self: center;
  justify-self: center;
  font-size: 1.5rem;
}

.graph-cell {
  min-height: 10px;
  min-width: 10px;
  border-radius: 50%;
  margin: 2px;
  background-color: #b1a7a6;
}

.row {
  display: flex;
}

.ship6 {
  background-color: #81b29a;
}

.ship5 {
  background-color: #fcbf49;
}

.ship4 {
  background-color: #f77f00;
}

.ship3 {
  background-color: #d62828;
}

.ship2 {
  background-color: #457b9d;
}

/* HTML: <div class="loader"></div> */
.loader {
  top: 50%;
  left: 220px;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #000;
  box-shadow: 0 0 0 0 #0004;
  animation: l2 1.5s infinite linear;
  position: absolute;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0 #0004;
  animation: inherit;
  animation-delay: -0.5s;
}
.loader:after {
  animation-delay: -1s;
}
@keyframes l2 {
  100% {
    box-shadow: 0 0 0 40px #0000;
  }
}
